:root {
	--color0: #252a37;
	--color1: #1989e1;
	--color2: #50be6c;
	--color3: #d99bd0;
	--color4: #538cd4;
	--color5: #88749e;
	--color6: #ff922e;
	--color7: #bdcadd;
	--color8: #5d5c55;
	--color9: #3894dc;
	--color10: #64b49b;
	--color11: #efbbe9;
	--color12: #89baf7;
	--color13: #a199c7;
	--color14: #ffac60;
	--color15: #fbfbfb;
	--surface-100: #4a546e;
	--surface-200: #454e67;
	--surface-300: #404960;
	--surface-400: #3c4459;
	--surface-500: #373e52;
	--surface-600: #32394b;
	--surface-700: #2e3444;
	--surface-800: #292f3e;
	--surface-900: #252a37;
	--marking-100: #fbfbfb;
	--marking-200: #ebebeb;
	--marking-300: #dcdcdc;
	--marking-400: #cccccc;
	--marking-500: #bcbcbc;
	--marking-600: #adadad;
	--marking-700: #9d9d9d;
	--marking-800: #8d8d8d;
	--marking-900: #7e7e7e;
	--color1-100: #e8f3fc;
	--color1-200: #b8daf7;
	--color1-300: #89c0f0;
	--color1-400: #58a5e9;
	--color1-500: #1989e1;
	--color1-600: #1574be;
	--color1-700: #115f9c;
	--color1-800: #0d4b7b;
	--color1-900: #0a385c;
	--color2-100: #ecf8ef;
	--color2-200: #c7ead0;
	--color2-300: #a2dcb0;
	--color2-400: #7bcd8f;
	--color2-500: #50be6c;
	--color2-600: #429f5a;
	--color2-700: #358248;
	--color2-800: #286538;
	--color2-900: #1c4a28;
	--color3-100: #f8edf6;
	--color3-200: #f1d8ed;
	--color3-300: #e9c4e4;
	--color3-400: #e1afda;
	--color3-500: #d99bd0;
	--color3-600: #b379aa;
	--color3-700: #8f5986;
	--color3-800: #6b3a64;
	--color3-900: #4a1c43;
	--color4-100: #ebf1fa;
	--color4-200: #c4d8f2;
	--color4-300: #9ebfe8;
	--color4-400: #79a6df;
	--color4-500: #538cd4;
	--color4-600: #4273b1;
	--color4-700: #325c90;
	--color4-800: #234570;
	--color4-900: #142f52;
	--color5-100: #f2f0f5;
	--color5-200: #d7d0df;
	--color5-300: #bcb0c9;
	--color5-400: #a292b3;
	--color5-500: #88749e;
	--color5-600: #716084;
	--color5-700: #5c4d6b;
	--color5-800: #473b53;
	--color5-900: #332a3c;
	--color6-100: #fff2e5;
	--color6-200: #ffdcbc;
	--color6-300: #ffc592;
	--color6-400: #ffac66;
	--color6-500: #ff922e;
	--color6-600: #d77822;
	--color6-700: #b05f16;
	--color6-800: #8a4709;
	--color6-900: #663100;
	--color9-100: #e9f3fb;
	--color9-200: #bfdcf4;
	--color9-300: #94c5ed;
	--color9-400: #69ade5;
	--color9-500: #3894dc;
	--color9-600: #2d7bb9;
	--color9-700: #236497;
	--color9-800: #194d76;
	--color9-900: #0f3757;
	--color11-100: #faeaf8;
	--color11-200: #f8dff5;
	--color11-300: #f5d3f1;
	--color11-400: #f2c7ed;
	--color11-500: #efbbe9;
	--color11-600: #c68fbf;
	--color11-700: #9f6597;
	--color11-800: #783d70;
	--color11-900: #53134b;
	--color12-100: #e7f1fd;
	--color12-200: #cfe3fc;
	--color12-300: #b8d6fb;
	--color12-400: #a1c8f9;
	--color12-500: #89baf7;
	--color12-600: #6795cf;
	--color12-700: #4671a9;
	--color12-800: #274f83;
	--color12-900: #062e60;
	--color13-100: #f0eff6;
	--color13-200: #dcd9ea;
	--color13-300: #c8c3df;
	--color13-400: #b4aed3;
	--color13-500: #a199c7;
	--color13-600: #817aa4;
	--color13-700: #625b81;
	--color13-800: #443f61;
	--color13-900: #292442;
	--color14-100: #fff2e5;
	--color14-200: #ffe1c6;
	--color14-300: #ffd0a5;
	--color14-400: #ffbe84;
	--color14-500: #ffac60;
	--color14-600: #d78b48;
	--color14-700: #b06b31;
	--color14-800: #8a4d1a;
	--color14-900: #663100;
	--error-100: var(--color1-100);
	--success-100: var(--color2-100);
	--warn-100: var(--color3-100);
	--info-100: var(--color4-100);
	--focus-100: var(--color5-100);
	--outline-100: var(--color6-100);
	--error-200: var(--color1-200);
	--success-200: var(--color2-200);
	--warn-200: var(--color3-200);
	--info-200: var(--color4-200);
	--focus-200: var(--color5-200);
	--outline-200: var(--color6-200);
	--error-300: var(--color1-300);
	--success-300: var(--color2-300);
	--warn-300: var(--color3-300);
	--info-300: var(--color4-300);
	--focus-300: var(--color5-300);
	--outline-300: var(--color6-300);
	--error-400: var(--color1-400);
	--success-400: var(--color2-400);
	--warn-400: var(--color3-400);
	--info-400: var(--color4-400);
	--focus-400: var(--color5-400);
	--outline-400: var(--color6-400);
	--error-500: var(--color1-500);
	--success-500: var(--color2-500);
	--warn-500: var(--color3-500);
	--info-500: var(--color4-500);
	--focus-500: var(--color5-500);
	--outline-500: var(--color6-500);
	--error-600: var(--color1-600);
	--success-600: var(--color2-600);
	--warn-600: var(--color3-600);
	--info-600: var(--color4-600);
	--focus-600: var(--color5-600);
	--outline-600: var(--color6-600);
	--error-700: var(--color1-700);
	--success-700: var(--color2-700);
	--warn-700: var(--color3-700);
	--info-700: var(--color4-700);
	--focus-700: var(--color5-700);
	--outline-700: var(--color6-700);
	--error-800: var(--color1-800);
	--success-800: var(--color2-800);
	--warn-800: var(--color3-800);
	--info-800: var(--color4-800);
	--focus-800: var(--color5-800);
	--outline-800: var(--color6-800);
	--error-900: var(--color1-900);
	--success-900: var(--color2-900);
	--warn-900: var(--color3-900);
	--info-900: var(--color4-900);
	--focus-900: var(--color5-900);
	--outline-900: var(--color6-900);
	--well: var(--surface-100);
	--base: var(--surface-200);
	--overlay: var(--surface-400);
	--text: var(--marking-100);
	--subtext: var(--marking-200);
	--disabled: var(--marking-300);
	--bg-a: var(--surface-900);
	--bg-e: var(--surface-800);
	--bg-i: var(--surface-700);
	--bg-o: var(--surface-600);
	--fg-a: var(--marking-400);
	--fg-e: var(--marking-300);
	--fg-i: var(--marking-200);
	--fg-o: var(--marking-100);
	--c-a-a: var(--color4-600);
	--c-a-e: var(--color4-500);
	--c-a-i: var(--color4-400);
	--c-e-a: var(--color5-600);
	--c-e-e: var(--color5-500);
	--c-e-i: var(--color5-400);
	--c-i-a: var(--color6-600);
	--c-i-e: var(--color6-500);
	--c-i-i: var(--color6-400);
	/* -- Tailwind Override -- */

	/* -- slate Override -- */
	--color-slate-50: #252a37;
	--color-slate-100: #373c48;
	--color-slate-200: #4b4e5a;
	--color-slate-300: #5f626c;
	--color-slate-400: #73767f;
	--color-slate-500: #898b93;
	--color-slate-600: #9ea0a7;
	--color-slate-700: #b5b6bb;
	--color-slate-800: #cccdd0;
	--color-slate-900: #e3e4e5;
	--color-slate-950: #fbfbfb;

	/* -- gray Override -- */
	--color-gray-50: #252a37;
	--color-gray-100: #373c48;
	--color-gray-200: #4b4e5a;
	--color-gray-300: #5f626c;
	--color-gray-400: #73767f;
	--color-gray-500: #898b93;
	--color-gray-600: #9ea0a7;
	--color-gray-700: #b5b6bb;
	--color-gray-800: #cccdd0;
	--color-gray-900: #e3e4e5;
	--color-gray-950: #fbfbfb;

	/* -- zinc Override -- */
	--color-zinc-50: #252a37;
	--color-zinc-100: #373c48;
	--color-zinc-200: #4b4e5a;
	--color-zinc-300: #5f626c;
	--color-zinc-400: #73767f;
	--color-zinc-500: #898b93;
	--color-zinc-600: #9ea0a7;
	--color-zinc-700: #b5b6bb;
	--color-zinc-800: #cccdd0;
	--color-zinc-900: #e3e4e5;
	--color-zinc-950: #fbfbfb;

	/* -- neutral Override -- */
	--color-neutral-50: #252a37;
	--color-neutral-100: #373c48;
	--color-neutral-200: #4b4e5a;
	--color-neutral-300: #5f626c;
	--color-neutral-400: #73767f;
	--color-neutral-500: #898b93;
	--color-neutral-600: #9ea0a7;
	--color-neutral-700: #b5b6bb;
	--color-neutral-800: #cccdd0;
	--color-neutral-900: #e3e4e5;
	--color-neutral-950: #fbfbfb;

	/* -- stone Override -- */
	--color-stone-50: #252a37;
	--color-stone-100: #373c48;
	--color-stone-200: #4b4e5a;
	--color-stone-300: #5f626c;
	--color-stone-400: #73767f;
	--color-stone-500: #898b93;
	--color-stone-600: #9ea0a7;
	--color-stone-700: #b5b6bb;
	--color-stone-800: #cccdd0;
	--color-stone-900: #e3e4e5;
	--color-stone-950: #fbfbfb;

	/* -- red Override -- */
	--color-red-50: #f1f2f4;
	--color-red-100: #cedaf0;
	--color-red-200: #a9c2ec;
	--color-red-300: #81abe8;
	--color-red-400: #4d95e4;
	--color-red-500: #1a7ece;
	--color-red-600: #1a65a5;
	--color-red-700: #184e7e;
	--color-red-800: #14385a;
	--color-red-900: #0e2337;
	--color-red-950: #010e18;

	/* -- orange Override -- */
	--color-orange-50: #f1f2f4;
	--color-orange-100: #cedaf0;
	--color-orange-200: #a9c2ec;
	--color-orange-300: #81abe8;
	--color-orange-400: #4d95e4;
	--color-orange-500: #1a7ece;
	--color-orange-600: #1a65a5;
	--color-orange-700: #184e7e;
	--color-orange-800: #14385a;
	--color-orange-900: #0e2337;
	--color-orange-950: #010e18;

	/* -- pink Override -- */
	--color-pink-50: #f1f2f4;
	--color-pink-100: #cedaf0;
	--color-pink-200: #a9c2ec;
	--color-pink-300: #81abe8;
	--color-pink-400: #4d95e4;
	--color-pink-500: #1a7ece;
	--color-pink-600: #1a65a5;
	--color-pink-700: #184e7e;
	--color-pink-800: #14385a;
	--color-pink-900: #0e2337;
	--color-pink-950: #010e18;

	/* -- rose Override -- */
	--color-rose-50: #f1f2f4;
	--color-rose-100: #cedaf0;
	--color-rose-200: #a9c2ec;
	--color-rose-300: #81abe8;
	--color-rose-400: #4d95e4;
	--color-rose-500: #1a7ece;
	--color-rose-600: #1a65a5;
	--color-rose-700: #184e7e;
	--color-rose-800: #14385a;
	--color-rose-900: #0e2337;
	--color-rose-950: #010e18;

	/* -- lime Override -- */
	--color-lime-50: #f1f4f1;
	--color-lime-100: #d0e9d3;
	--color-lime-200: #afddb6;
	--color-lime-300: #8dd198;
	--color-lime-400: #68c57c;
	--color-lime-500: #49ae63;
	--color-lime-600: #3a8d50;
	--color-lime-700: #2c6d3d;
	--color-lime-800: #1f4e2c;
	--color-lime-900: #12321b;
	--color-lime-950: #011807;

	/* -- green Override -- */
	--color-green-50: #f1f4f1;
	--color-green-100: #d0e9d3;
	--color-green-200: #afddb6;
	--color-green-300: #8dd198;
	--color-green-400: #68c57c;
	--color-green-500: #49ae63;
	--color-green-600: #3a8d50;
	--color-green-700: #2c6d3d;
	--color-green-800: #1f4e2c;
	--color-green-900: #12321b;
	--color-green-950: #011807;

	/* -- emerald Override -- */
	--color-emerald-50: #f1f4f1;
	--color-emerald-100: #d0e9d3;
	--color-emerald-200: #afddb6;
	--color-emerald-300: #8dd198;
	--color-emerald-400: #68c57c;
	--color-emerald-500: #49ae63;
	--color-emerald-600: #3a8d50;
	--color-emerald-700: #2c6d3d;
	--color-emerald-800: #1f4e2c;
	--color-emerald-900: #12321b;
	--color-emerald-950: #011807;

	/* -- amber Override -- */
	--color-amber-50: #f4f1f3;
	--color-amber-100: #efdeec;
	--color-amber-200: #e9cbe4;
	--color-amber-300: #e3b8dc;
	--color-amber-400: #dda5d4;
	--color-amber-500: #c78dbe;
	--color-amber-600: #9f6f98;
	--color-amber-700: #7a5274;
	--color-amber-800: #563852;
	--color-amber-900: #351e32;
	--color-amber-950: #180115;

	/* -- yellow Override -- */
	--color-yellow-50: #f4f1f3;
	--color-yellow-100: #efdeec;
	--color-yellow-200: #e9cbe4;
	--color-yellow-300: #e3b8dc;
	--color-yellow-400: #dda5d4;
	--color-yellow-500: #c78dbe;
	--color-yellow-600: #9f6f98;
	--color-yellow-700: #7a5274;
	--color-yellow-800: #563852;
	--color-yellow-900: #351e32;
	--color-yellow-950: #180115;

	/* -- blue Override -- */
	--color-blue-50: #f1f2f4;
	--color-blue-100: #d2dbed;
	--color-blue-200: #b2c4e6;
	--color-blue-300: #90addf;
	--color-blue-400: #6b98d8;
	--color-blue-500: #4c80c2;
	--color-blue-600: #3d679c;
	--color-blue-700: #2e4f78;
	--color-blue-800: #203855;
	--color-blue-900: #132235;
	--color-blue-950: #010b18;

	/* -- sky Override -- */
	--color-sky-50: #f1f2f4;
	--color-sky-100: #d2dbed;
	--color-sky-200: #b2c4e6;
	--color-sky-300: #90addf;
	--color-sky-400: #6b98d8;
	--color-sky-500: #4c80c2;
	--color-sky-600: #3d679c;
	--color-sky-700: #2e4f78;
	--color-sky-800: #203855;
	--color-sky-900: #132235;
	--color-sky-950: #010b18;

	/* -- indigo Override -- */
	--color-indigo-50: #f1f2f4;
	--color-indigo-100: #d2dbed;
	--color-indigo-200: #b2c4e6;
	--color-indigo-300: #90addf;
	--color-indigo-400: #6b98d8;
	--color-indigo-500: #4c80c2;
	--color-indigo-600: #3d679c;
	--color-indigo-700: #2e4f78;
	--color-indigo-800: #203855;
	--color-indigo-900: #132235;
	--color-indigo-950: #010b18;

	/* -- violet Override -- */
	--color-violet-50: #f2f1f4;
	--color-violet-100: #dad4e0;
	--color-violet-200: #c3b8cd;
	--color-violet-300: #ab9dbb;
	--color-violet-400: #9482a8;
	--color-violet-500: #7d6a92;
	--color-violet-600: #645477;
	--color-violet-700: #4c405d;
	--color-violet-800: #362c44;
	--color-violet-900: #211a2d;
	--color-violet-950: #0c0118;

	/* -- purple Override -- */
	--color-purple-50: #f2f1f4;
	--color-purple-100: #dad4e0;
	--color-purple-200: #c3b8cd;
	--color-purple-300: #ab9dbb;
	--color-purple-400: #9482a8;
	--color-purple-500: #7d6a92;
	--color-purple-600: #645477;
	--color-purple-700: #4c405d;
	--color-purple-800: #362c44;
	--color-purple-900: #211a2d;
	--color-purple-950: #0c0118;

	/* -- fuschia Override -- */
	--color-fuschia-50: #f2f1f4;
	--color-fuschia-100: #dad4e0;
	--color-fuschia-200: #c3b8cd;
	--color-fuschia-300: #ab9dbb;
	--color-fuschia-400: #9482a8;
	--color-fuschia-500: #7d6a92;
	--color-fuschia-600: #645477;
	--color-fuschia-700: #4c405d;
	--color-fuschia-800: #362c44;
	--color-fuschia-900: #211a2d;
	--color-fuschia-950: #0c0118;

	/* -- teal Override -- */
	--color-teal-50: #f4f2f1;
	--color-teal-100: #fdddc6;
	--color-teal-200: #ffc89d;
	--color-teal-300: #ffb373;
	--color-teal-400: #ff9e48;
	--color-teal-500: #e9862b;
	--color-teal-600: #ba6b25;
	--color-teal-700: #8d521f;
	--color-teal-800: #633a18;
	--color-teal-900: #3b2310;
	--color-teal-950: #180c01;

	/* -- cyan Override -- */
	--color-cyan-50: #f4f2f1;
	--color-cyan-100: #fdddc6;
	--color-cyan-200: #ffc89d;
	--color-cyan-300: #ffb373;
	--color-cyan-400: #ff9e48;
	--color-cyan-500: #e9862b;
	--color-cyan-600: #ba6b25;
	--color-cyan-700: #8d521f;
	--color-cyan-800: #633a18;
	--color-cyan-900: #3b2310;
	--color-cyan-950: #180c01;
}
